---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM API KEY>&artist=Stone%20Temple%20Pilots&format=json&method=artist.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www235
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Stone Temple Pilots","startPage":"1"},"opensearch:totalResults":"195","opensearch:startIndex":"0","opensearch:itemsPerPage":"30","artistmatches":{"artist":[{"name":"Stone Temple Pilots","listeners":"1302301","mbid":"8c32bb01-58a3-453b-8050-8c0620edb0e5","url":"http:\/\/www.last.fm\/music\/Stone+Temple+Pilots","streamable":"1","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/34131153.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/34131153.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/34131153.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/34131153.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/_\/34131153\/Stone+Temple+Pilots+stp131342.jpg","size":"mega"}]},{"name":"Sound Garden & Stone Temple Pilots","listeners":"1817","mbid":"","url":"http:\/\/www.last.fm\/music\/Sound+Garden+&[...]
